In [1]:
import os.path
import numpy as np
import matplotlib as mp
import matplotlib.pyplot as plt
import pandas as pd
import json
import requests
from IPython.display import clear_output
import cesiumpy
import random
from geomet import wkt
from pandas.io.json import json_normalize, read_json
from SPARQLWrapper import SPARQLWrapper, JSON, XML, RDF
from datetime import datetime
from IPython.display import HTML

In [13]:
file = '../1_datAcron/data/FTFM_sector-events.csv'

chunksize = 500

i=0

for dataFrame in pd.read_csv(file, chunksize=chunksize, sep=';'):
    clear_output(wait=True)
    i= i+1
    if i == 5:
        break

dataFrame.head(500)

,FLIGHT_UID,UNIQUE_ID,IOBT,SECTOR_ID,POINT_ID,EVENT_TYPE,DT,DURATION_SEC,AIRAC_CYCLE,LATITUDE,LONGITUDE,ALTITUDE
2000,679334,20160331-679334,31.03.16 12:45:00,EGTTWIL,47,e,31.03.16 13:19:56,59,411,51.1522,-0.5472,35
2001,675443,20160331-675443,31.03.16 10:15:00,ENOBOA,2067,e,31.03.16 12:57:00,1439,411,65.1647,6.3036,360
2002,678965,20160331-678965,31.03.16 11:45:00,EGTT08STU,980,e,31.03.16 13:11:39,561,411,51.8553,-3.9003,320
2003,677493,20160331-677493,31.03.16 10:30:00,EGTT08STU,1782,e,31.03.16 13:11:21,579,411,51.8553,-3.9003,320
2004,677839,20160331-677839,31.03.16 11:30:00,EYVCL,1307,e,31.03.16 13:10:00,660,411,54.3075,23.0592,330
2005,674725,20160331-674725,31.03.16 10:40:00,EDUUALP23,1599,e,31.03.16 13:09:35,685,411,47.6453,11.2028,360
2006,641276,20160331-641276,31.03.16 11:55:00,LHCCEASTH,862,e,31.03.16 13:10:19,641,411,47.9278,19.6972,365
2007,681189,20160331-681189,31.03.16 13:00:00,ESOS6,65,e,31.03.16 13:18:03,177,411,59.8011,18.9161,186
2008,677814,20160331-677814,31.03.16 11:10:00,UMMVS2,1539,e,31.03.16 13:05:00,960,411,52.2278,23.2089,310
2009,660878,20160331-660878,31.03.16 13:00:00,LFMITA,112,e,31.03.16 13:20:40,22,411,44.0636,4.5172,100
2010,679014,20160331-679014,31.03.16 12:00:00,LIRRNN5,1004,e,31.03.16 13:18:07,180,411,42.2461,11.7569,360
2011,680518,20160331-680518,31.03.16 12:05:00,EGTT13CLW,565,e,31.03.16 13:15:00,371,411,51.4431,2.0000,340
2012,679609,20160331-679609,31.03.16 12:40:00,LECMZML,101,e,31.03.16 13:10:29,649,411,40.5875,-4.6156,239
2013,678615,20160331-678615,31.03.16 12:10:00,EDYYD5JH,610,e,31.03.16 13:14:25,417,411,53.5361,6.8786,355
2014,674473,20160331-674473,31.03.16 10:45:00,EFINK,1919,e,31.03.16 13:14:14,429,411,61.1656,24.6044,330
2015,678049,20160331-678049,31.03.16 12:10:00,EGTT36EXE,508,e,31.03.16 13:12:35,529,411,51.2819,-2.1731,318
2016,660878,20160331-660878,31.03.16 13:00:00,LFMITAC,116,e,31.03.16 13:21:02,22,411,44.0306,4.4994,88
2017,674473,20160331-674473,31.03.16 10:45:00,EFINL,2027,e,31.03.16 13:21:23,8,411,61.5442,26.4808,330
2018,677672,20160331-677672,31.03.16 12:30:00,EETTEST,375,e,31.03.16 13:06:35,897,411,58.5261,23.7386,330
2019,679122,20160331-679122,31.03.16 11:30:00,EISNCCU,898,e,31.03.16 13:05:20,973,411,52.8561,-7.5131,320
2020,678119,20160331-678119,31.03.16 10:45:00,EGTT05BCN,1648,e,31.03.16 13:11:58,577,411,51.6031,-1.9942,320
2021,680296,20160331-680296,31.03.16 12:50:00,EGTTBLEFI,130,e,31.03.16 13:19:40,120,411,50.7389,-3.1439,47
2022,654160,20160331-654160,31.03.16 11:00:00,LFMLMC,902,e,31.03.16 13:17:23,272,411,44.0125,4.7411,144
2023,678200,20160331-678200,31.03.16 12:45:00,EGTTWIL,39,e,31.03.16 13:19:47,128,411,51.1975,-0.3572,35
2024,671387,20160331-671387,31.03.16 06:45:00,ENBD18,5569,e,31.03.16 13:06:54,902,411,61.9994,9.5008,360
2025,656152,20160331-656152,31.03.16 13:00:00,LFBBZ1,48,e,31.03.16 13:14:28,449,411,44.3164,-0.6961,195
2026,678618,20160331-678618,31.03.16 11:55:00,EDUUOSE12,1077,e,31.03.16 13:20:00,120,411,54.8789,12.7803,310
2027,678206,20160331-678206,31.03.16 11:40:00,EGTT35PEM,846,e,31.03.16 13:03:21,1119,411,51.6031,-1.9942,340
2028,676913,20160331-676913,31.03.16 13:00:00,EHAMTA,8,e,31.03.16 13:19:42,140,411,52.3714,4.7286,35
2029,678565,20160331-678565,31.03.16 12:45:00,LIRRNN4,174,e,31.03.16 13:19:39,143,411,43.1808,11.6375,305
...,...,...,...,...,...,...,...,...,...,...,...,...
2470,680742,20160331-680742,31.03.16 12:45:00,EPWWTL,514,e,31.03.16 13:40:00,702,411,50.8019,15.3936,330
2471,678965,20160331-678965,31.03.16 11:45:00,EISNBCU,1431,e,31.03.16 13:44:55,412,411,53.4072,-10.0464,320
2472,680209,20160331-680209,31.03.16 13:35:00,EDMMN,0,e,31.03.16 13:46:00,353,411,48.3539,11.7861,15
2473,662273,20160331-662273,31.03.16 08:15:00,EFINF,4736,e,31.03.16 13:40:52,664,411,60.7742,22.1336,430
2474,672091,20160331-672091,31.03.16 13:25:00,EGTTSWD,8,e,31.03.16 13:49:23,154,411,51.4403,-0.4769,35
2475,678533,20160331-678533,31.03.16 10:25:00,UUWVALL,2073,e,31.03.16 13:04:00,2880,411,54.5033,31.0847,330
2476,680601,20160331-680601,31.03.16 13:00:00,EGTT08STU,250,e,31.03.16 13:41:56,604,411,51.9994,-3.9531,260
2477,676617,20160331-676617,31.03.16 11:55:00,EISNDEU,1418,e,31.03.16 13:46:53,307,411,49.2503,-8.5350,340
2478,641299,20160331-641299,31.03.16 12:00:00,LHCCEASTH,1342,e,31.03.16 13:47:54,246,411,46.4203,19.6047,370
2479,680221,20160331-680221,31.03.16 13:15:00,LIRRNN4,174,e,31.03.16 13:49:38,143,411,43.1808,11.6375,305
2480,676021,20160331-676021,31.03.16 11:27:00,EISNDDS,1666,e,31.03.16 13:42:46,560,411,49.6647,-9.2050,360
2481,679074,20160331-679074,31.03.16 13:25:00,EGTTOCK,55,e,31.03.16 13:51:37,36,411,51.4950,-1.2475,135
2482,676342,20160331-676342,31.03.16 11:55:00,ENOS16,1445,e,31.03.16 13:46:56,319,411,61.4375,0.8292,340
2483,677840,20160331-677840,31.03.16 11:30:00,UMMVS3,1728,e,31.03.16 13:39:00,796,411,54.6914,25.7367,330
2484,656529,20160331-656529,31.03.16 13:30:00,LBSFTA,0,e,31.03.16 13:41:00,679,411,42.6950,23.4083,17
2485,673700,20160331-673700,31.03.16 11:15:00,EPWWGL,1503,e,31.03.16 13:29:24,1379,411,52.5392,19.0992,320
2486,676937,20160331-676937,31.03.16 12:25:00,LRBBKOM3,1111,e,31.03.16 13:50:42,103,411,44.2875,24.8756,330
2487,674827,20160331-674827,31.03.16 10:15:00,LOVVN4,2625,e,31.03.16 13:42:19,607,411,48.2844,15.4097,380
2488,678926,20160331-678926,31.03.16 12:10:00,EISNCFU,917,e,31.03.16 13:37:50,884,411,52.4236,-8.0703,340
2489,679490,20160331-679490,31.03.16 13:20:00,LIRRNN3,150,e,31.03.16 13:51:09,102,411,42.9922,11.7761,285
2490,680985,20160331-680985,31.03.16 13:20:00,LIRRNE3,148,e,31.03.16 13:51:08,103,411,42.3914,12.6128,285
2491,677199,20160331-677199,31.03.16 13:35:00,LPPCTLS,20,e,31.03.16 13:50:27,150,411,38.8008,-8.9061,87
2492,682275,20160331-682275,31.03.16 13:25:00,EDMMS,0,e,31.03.16 13:39:00,839,411,48.3539,11.7861,15
2493,673716,20160331-673716,31.03.16 10:30:00,EDYYB5KL,2240,e,31.03.16 13:42:13,647,411,51.1203,3.9633,320
2494,680722,20160331-680722,31.03.16 12:30:00,EPWWSL,922,e,31.03.16 13:42:12,648,411,53.7922,20.1528,310
2495,676937,20160331-676937,31.03.16 12:25:00,LRBBKOM4,1138,e,31.03.16 13:52:25,41,411,44.1364,25.1403,336
2496,676743,20160331-676743,31.03.16 11:15:00,ENOS16,1703,e,31.03.16 13:36:27,1012,411,61.2675,2.3375,320
2497,679922,20160331-679922,31.03.16 12:50:00,EKDKA,569,e,31.03.16 13:47:11,370,411,55.0414,11.3617,290
2498,656152,20160331-656152,31.03.16 13:00:00,LFBBR1,104,e,31.03.16 13:21:57,1890,411,44.8181,-0.7206,240
2499,681936,20160331-681936,31.03.16 13:20:00,LFFFTM,73,e,31.03.16 13:47:55,339,411,49.0844,3.5372,195

In [8]:
file = '../1_datAcron/data/FTFM_sector-events.csv'
if not os.path.isfile(file):
    print('fnf')

In [103]:
file = '../1_datAcron/data/FTFM_sector-events.csv'
chunksize = 1000
targetFrames = []

for dataFrame in pd.read_csv(file, chunksize=chunksize, sep=';', 
                            usecols=['FLIGHT_UID', 'IOBT', 'SECTOR_ID', 'EVENT_TYPE', 'DT', 'DURATION_SEC']):
    mask = (dataFrame['SECTOR_ID'].str.slice(0,2) == 'LE' )
    dff = dataFrame[mask].copy()
    if len(dff) > 0:
        targetFrames.append(dff) 

    
dftarget = pd.concat(targetFrames)
dftarget

20
86
20

,FLIGHT_UID,IOBT,SECTOR_ID,EVENT_TYPE,DT,DURATION_SEC
127,650030,31.03.16 07:00:00,LECSAPSS,e,31.03.16 07:05:00,554
129,650030,31.03.16 07:00:00,LECSVEJB,e,31.03.16 07:14:14,318
132,650030,31.03.16 07:00:00,LECSVEJA,e,31.03.16 07:19:32,121
148,650030,31.03.16 07:00:00,LECSMALB,e,31.03.16 07:21:33,1305
149,650030,31.03.16 07:00:00,LECSJAEB,e,31.03.16 07:43:18,198
151,650030,31.03.16 07:00:00,LECSBEAB,e,31.03.16 07:46:36,118
160,650030,31.03.16 07:00:00,LECSYSTE,e,31.03.16 07:48:34,953
165,650030,31.03.16 07:00:00,LECLVSVC,e,31.03.16 08:04:27,1343
167,650030,31.03.16 07:00:00,LECLVSAL,e,31.03.16 08:26:50,366
184,650030,31.03.16 07:00:00,LECPGXX,e,31.03.16 08:32:56,1687
193,650030,31.03.16 07:00:00,LECPMXX,e,31.03.16 09:01:03,1086
220,674444,31.03.16 08:30:00,LECBCCU,e,31.03.16 09:48:00,457
229,674444,31.03.16 08:30:00,LECBVNI,e,31.03.16 09:55:37,603
237,673433,31.03.16 09:50:00,LEMD953A,e,31.03.16 10:07:00,142
239,673433,31.03.16 09:50:00,LEMD951A,e,31.03.16 10:09:22,115
240,673433,31.03.16 09:50:00,LEMD951B,e,31.03.16 10:11:17,13
241,673433,31.03.16 09:50:00,LEMD953B,e,31.03.16 10:11:30,12
242,673433,31.03.16 09:50:00,LEMD953C,e,31.03.16 10:11:42,39
244,673433,31.03.16 09:50:00,LEMD952B,e,31.03.16 10:12:21,44
246,673433,31.03.16 09:50:00,LEMD952C,e,31.03.16 10:13:05,94
257,673433,31.03.16 09:50:00,LEMD938B,e,31.03.16 10:14:39,212
258,673433,31.03.16 09:50:00,LEMD930,e,31.03.16 10:18:11,58
259,673433,31.03.16 09:50:00,LECMTLL,e,31.03.16 10:19:09,10
272,674444,31.03.16 08:30:00,LECBVVS,e,31.03.16 10:05:40,1100
288,673433,31.03.16 09:50:00,LECMZML,e,31.03.16 10:19:19,664
378,676682,31.03.16 10:35:00,LEMD953A,e,31.03.16 10:53:00,157
384,676682,31.03.16 10:35:00,LEMD951A,e,31.03.16 10:55:37,129
390,676682,31.03.16 10:35:00,LEMD951B,e,31.03.16 10:57:46,14
392,676682,31.03.16 10:35:00,LEMD953B,e,31.03.16 10:58:00,14
395,676682,31.03.16 10:35:00,LEMD953C,e,31.03.16 10:58:14,43
...,...,...,...,...,...,...
19675,677907,31.03.16 20:20:00,LECSAPNN,e,31.03.16 20:25:00,292
19688,675092,31.03.16 18:55:00,LECMDGU,e,31.03.16 20:17:50,726
19729,680930,31.03.16 19:20:00,LECMBLL,e,31.03.16 20:16:06,838
19737,673184,31.03.16 17:59:00,LECSBEAA,e,31.03.16 20:29:33,34
19752,675718,31.03.16 20:20:00,LECLVKAT,e,31.03.16 20:30:00,12
19773,681073,31.03.16 20:10:00,LECBLVL,e,31.03.16 20:25:13,308
19797,676190,31.03.16 17:30:00,LECBMNU,e,31.03.16 20:26:50,220
19805,683660,31.03.16 19:45:00,LECBVNI,e,31.03.16 20:19:46,646
19807,681073,31.03.16 20:10:00,LECBLVU,e,31.03.16 20:30:21,12
19808,666708,31.03.16 20:00:00,LEMD951A,e,31.03.16 20:27:00,213
19809,663899,31.03.16 20:15:00,LEMGCEN,e,31.03.16 20:26:45,228
19817,677849,31.03.16 20:10:00,LEBLGARI,e,31.03.16 20:27:30,186
19829,680901,31.03.16 20:00:00,LECMZML,e,31.03.16 20:24:34,368
19838,673184,31.03.16 17:59:00,LECSBEAB,e,31.03.16 20:30:07,37
19866,666708,31.03.16 20:00:00,LEMD951B,e,31.03.16 20:30:33,21
19872,677849,31.03.16 20:10:00,LEBLBL2,e,31.03.16 20:30:36,20
19878,675718,31.03.16 20:20:00,LECLNARN,e,31.03.16 20:30:12,46
19885,686562,31.03.16 19:55:00,LECMZML,e,31.03.16 20:28:00,180
19888,675258,31.03.16 19:25:00,LECMZGZ,e,31.03.16 20:29:24,96
19889,675131,31.03.16 19:55:00,LECMBLL,e,31.03.16 20:23:54,426
19900,690357,31.03.16 19:55:00,LEBLDDS,e,31.03.16 20:17:34,806
19906,680297,31.03.16 20:05:00,LEMD973A,e,31.03.16 20:28:14,168
19915,675533,31.03.16 20:10:00,LECLVSAL,e,31.03.16 20:24:34,391
19919,677998,31.03.16 18:47:00,LECMTLU,e,31.03.16 20:14:38,988
19932,685716,31.03.16 20:05:00,LEMD951A,e,31.03.16 20:28:00,191
19946,680297,31.03.16 20:05:00,LEMD975C,e,31.03.16 20:31:02,15
19949,684934,31.03.16 20:15:00,LEPATA,e,31.03.16 20:30:00,78
19973,667120,31.03.16 20:15:00,LEPATA,e,31.03.16 20:30:00,91
19976,680735,31.03.16 19:20:00,LECMBLU,e,31.03.16 20:21:00,632
19978,685716,31.03.16 20:05:00,LEMD951B,e,31.03.16 20:31:11,23

In [26]:
dftarget.describe()

,FLIGHT_UID,POINT_ID,DURATION_SEC,AIRAC_CYCLE,LATITUDE,LONGITUDE,ALTITUDE
count,319544.000000,319544.000000,159878.000000,319544.000000,319544.000000,319544.000000,319544.0
mean,480550.998780,632.303404,361.818693,411.106521,47.322711,8.965147,0.0
std,305930.099952,1232.248515,636.058700,0.308503,9.102847,10.637876,0.0
min,1.000000,0.000000,0.000000,411.000000,12.388900,-25.054700,0.0
25%,215330.250000,0.000000,86.000000,411.000000,41.265600,2.738900,0.0
50%,429639.500000,0.000000,166.000000,411.000000,44.413300,7.215000,0.0
75%,780095.500000,818.000000,399.000000,411.000000,53.823300,12.656100,0.0
max,999999.000000,11982.000000,20940.000000,412.000000,89.000000,60.903300,0.0

In [27]:
dftarget.head(20)

,FLIGHT_UID,UNIQUE_ID,IOBT,SECTOR_ID,POINT_ID,EVENT_TYPE,DT,DURATION_SEC,AIRAC_CYCLE,LATITUDE,LONGITUDE,ALTITUDE
65,664992,20160331-664992,31.03.16 05:40:00,LFMNND,0,e,31.03.16 05:48:00,473.0,411,43.6653,7.2150,0
97,647522,20160331-647522,31.03.16 06:00:00,ESOSF,0,e,31.03.16 06:05:00,1417.0,411,63.0486,17.7689,0
317,677121,20160331-677121,31.03.16 10:30:00,EKCHCR,0,e,31.03.16 10:38:00,109.0,411,55.6181,12.6561,0
333,677835,20160331-677835,31.03.16 10:30:00,EHAMCR1,0,e,31.03.16 10:44:00,113.0,411,52.3081,4.7642,0
351,676778,20160331-676778,31.03.16 10:35:00,EHAMCR1,0,e,31.03.16 10:49:00,95.0,411,52.3081,4.7642,0
376,674576,20160331-674576,31.03.16 10:40:00,EHAMCR1,0,e,31.03.16 10:54:00,86.0,411,52.3081,4.7642,0
425,677493,20160331-677493,31.03.16 10:30:00,LIRRAWL,0,e,31.03.16 11:02:00,57.0,411,41.8003,12.2389,0
491,678119,20160331-678119,31.03.16 10:45:00,LIRRAWL,0,e,31.03.16 11:13:00,55.0,411,41.8003,12.2389,0
533,679093,20160331-679093,31.03.16 11:00:00,EHAMCR1,0,e,31.03.16 11:18:00,117.0,411,52.3081,4.7642,0
599,676633,20160331-676633,31.03.16 11:10:00,EHAMCR1,0,e,31.03.16 11:28:00,78.0,411,52.3081,4.7642,0
767,677839,20160331-677839,31.03.16 11:30:00,EHAMCR1,0,e,31.03.16 11:48:00,105.0,411,52.3081,4.7642,0
944,679682,20160331-679682,31.03.16 11:45:00,EHAMCR1,0,e,31.03.16 12:03:00,110.0,411,52.3081,4.7642,0
965,671512,20160331-671512,31.03.16 12:00:00,EBAWCR,0,e,31.03.16 12:05:00,107.0,411,51.1894,4.4603,0
1102,681039,20160331-681039,31.03.16 12:00:00,LIRRAWL,0,e,31.03.16 12:17:00,62.0,411,41.8003,12.2389,0
1235,679014,20160331-679014,31.03.16 12:00:00,DAAATC,0,e,31.03.16 12:10:00,1096.0,411,36.6939,3.2144,0
1266,679800,20160331-679800,31.03.16 12:15:00,EHAMCR1,0,e,31.03.16 12:29:00,106.0,411,52.3081,4.7642,0
1316,677275,20160331-677275,31.03.16 12:25:00,EKCHCR,0,e,31.03.16 12:33:00,98.0,411,55.6181,12.6561,0
1458,680916,20160331-680916,31.03.16 12:30:00,EHAMCR1,0,e,31.03.16 12:44:00,78.0,411,52.3081,4.7642,0
1601,679581,20160331-679581,31.03.16 12:40:00,EHAMCR1,0,e,31.03.16 12:54:00,83.0,411,52.3081,4.7642,0
1603,680586,20160331-680586,31.03.16 12:40:00,EHAMCR1,0,e,31.03.16 12:54:00,96.0,411,52.3081,4.7642,0

In [33]:
#

mask2 = (dftarget['SECTOR_ID'].str.len()==4 )
dftarget2 = dftarget[mask2]

dftarget2.describe()

,FLIGHT_UID,POINT_ID,DURATION_SEC,AIRAC_CYCLE,LATITUDE,LONGITUDE,ALTITUDE
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
print(dftarget.iloc[1]['SECTOR_ID'])

ESOSF

In [93]:
file = '../1_datAcron/data/allflights.csv'
flight_arrivals = []
chunksize = 500

i=0

# we want the extract all flights and their arrival times form the CSV file, then save it into a new, smaller csv.
for dataFrame in pd.read_csv(file, chunksize=chunksize):
    #extract departure, destination, arrival time:
    dataFrame2 = dataFrame['3'].str.split(';', expand=True)
    dataFrame3 = dataFrame2[[0, 1, 2, 3, 4, 85]].copy()
    dataFrame3['last'] = dataFrame3[85].str.split().str[-1].str.slice(0,12)
    dataFrame3 = dataFrame3.drop(85, axis=1)

    #Filter out erroneous data rows:
    mask = (dataFrame3['last'].str.slice(0,4) == '2016')
    dataFrame4 = dataFrame3[mask].copy()
    flight_arrivals.append(dataFrame4)
     
    clear_output(wait=True)
    i= i+1
    print('Iteration ' + str(i) + ', valid rows: ' + str(len(dataFrame4)))


dfflights = pd.concat(flight_arrivals)
dfflights['last'] = pd.to_datetime(dfflights['last'], format='%Y%m%d%H%M')

dfflights.describe()

Iteration 68, valid rows: 228

            0      1       2      3      4                 last
count   33669  33669   33669  33669  33669                33669
unique   1253   1237   28869    502    294                 2407
top      EGLL   LFPG  WIF957          B738  2016-04-01 08:58:00
freq      880    835       9   3211   5659                   48
first     NaN    NaN     NaN    NaN    NaN  2016-03-31 04:40:00
last      NaN    NaN     NaN    NaN    NaN  2016-04-02 20:05:00

In [95]:
dfflights['last'].min()

Timestamp('2016-03-31 04:40:00')

In [92]:
dataFrame2 = dataFrame['3'].str.split(';', expand=True)
dataFrame3 = dataFrame2[[0, 1, 2, 3, 4, 85]].copy()
dataFrame3['last'] = dataFrame3[85].str.split().str[-1].str.slice(0,12)
dataFrame3 = dataFrame3.drop(85, axis=1)

#Filter out erroneous data rows:
mask = (dataFrame3['last'].str.slice(0,4) == '2016')
dataFrame4 = dataFrame3[mask].copy()
dataFrame4['last'] = pd.to_datetime(dataFrame4['last'], format='%Y%m%d%H%M')

dataFrame4.head(3)

         0     1        2    3     4                last
2000  EDDF  LTBA  DLH1298  DLH  A320 2016-04-01 09:42:00
2001  UUDD  UDYZ   SBI907  SBI  A319 2016-04-01 01:10:00
2002  EGAA  EGSS  EZY34ER  EZY  A319 2016-04-01 17:59:00

In [88]:
dataFrame3.describe()

           0     1       2    3     4          last
count    500   500     500  500   500           500
unique   209   232     498  134    92           418
top     ESSA  LFPG  HKS059       A320  201604011112
freq      15    17       2   39    75             4

In [89]:
dataFrame4.describe()

           0     1       2    3     4          last
count    497   497     497  497   497           497
unique   209   231     496  134    92           417
top     ESSA  LFPG  RAM589       A320  201604011112
freq      15    17       2   39    75             4

In [104]:
p = 'asd'

In [ ]:
p.